<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230241404838-h8j0n12k39smh7e59cdshdh36npmogq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230241404838-h8j0n12k39smh7e59cdshdh36npmogq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYzvq8G3t3FlbHgag2xMmSKa83Gn5DGuA</string>
	<key>GCM_SENDER_ID</key>
	<string>230241404838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masonhorder.etsy</string>
	<key>PROJECT_ID</key>
	<string>etsy-management</string>
	<key>STORAGE_BUCKET</key>
	<string>etsy-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230241404838:ios:79f1bee3974e55a0a07167</string>
	<key>DATABASE_URL</key>
	<string>https://etsy-management.firebaseio.com</string>
</dict>
</plist>