<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567339776329-7ufao8nqteihlbig3p1k867j1n31hnu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567339776329-7ufao8nqteihlbig3p1k867j1n31hnu0</string>
	<key>API_KEY</key>
	<string>AIzaSyDKMff965zcDUXX7-c5-fzl9cjCZipW3JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>567339776329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masonhorder.dicecodinglog</string>
	<key>PROJECT_ID</key>
	<string>dice-coding-log</string>
	<key>STORAGE_BUCKET</key>
	<string>dice-coding-log.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567339776329:ios:ecdb08186a1e04d2cf4298</string>
	<key>DATABASE_URL</key>
	<string>https://dice-coding-log.firebaseio.com</string>
</dict>
</plist>